
  <nav>
    <div class="nav-wrapper green darken-4">
    <% if(locals.user) {%>
        <a href="/" class="brand-logo center">welcome back <%=user.username%> </a>
        <%} else {%>
                
        
     
      <%}%>
      <a href="/" class="brand-logo left">HFD</a>
      <% if(locals.user) {%>
 
          <a href="/user/logout" class="brand-logo right" ></i>
            Logout </a>
 
        <%} else {%>

            <a href="/user/login" class="brand-logo right"></i>
              Login</a>
   
          <%}%>
      

    </div>

</nav>