
 <div class="startChat">
    <div class="chatBox">
        <div class="container-fluid">
            <div class="row">
              <ul id="messages"></ul>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <form class="chat"   action="">
                  <div class="input-group input_chat_box">
                    <input
                    class="message_input"
                      id="m"
                      autocomplete="off"
                      type="text"
                      class="form-control"
                      placeholder="Message..."
                      aria-label="Message..."
                    />
                    <span class="input-group-btn">
                      <button  class="btn btn-secondary" type="submit">Send</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
<div class="users">
    <h5 class="chatUserHeadr">Online users</h5>
  <div id="userList" class="userList">
   
  </div>
</div>
    
 </div>
