<div class="doctorProfile">
  <div>
    <nav>
      <div class="nav-wrapper #1de9b6 teal accent-3">
        <a href="#" class="signout">Sign Out</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li>
          <li class="active"><a href="./Home">Home</a></li>
          </li>
          <li><a href="./Profile">Profile</a></li>
          <li><a href="Patient.ejs">Patient</a></li>
          <li><a href="./registration.ejs">Registration</a></li>
          <!-- <li><a href="BloodTest.ejs">Blood Test Request</a></li> -->
        </ul>
      </div>
    </nav>





    <script src="../../public/js/doctor/doctor.js"></script>
    <link rel="stylesheet" href="../../public/css/doctor/doctor.css" />