
    
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Sign Out</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="Home.ejs">Home</a></li>
          <li><li class="active"><a href="Profile.ejs">Profile</a></li></li>
          <li><a href="Patient.ejs">Patient</a></li>
          <li><a href="Appointment.ejs">Appointment</a></li>
          <li><a href="BloodTest.ejs">Blood Test Request</a></li>
        </ul>
      </div>
    </nav>

