<%- include('../partials/header');%>
  <div class="doctor-registration">

 
      <div class="container">


        <%- include('../partials/messages');%>
          <div class="mt-4 p-5 bg-primary text-white rounded text-center">
            <h1>Welcome Doctor</h1>
          </div>
          <h2>Your details</h2>

          <div class="row">
            <form enctype="multipart/form-data" action="registration" method="post" class="col s12">
              <div class="uploadImage">

                <img width="150" src="../../public/images/patient/sample.jpg">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input name="avatar" type="file" id="doctor_img" accept="image/*">
                  </div>
                  <div class="file-path-wrapper" style="width:200px;">
                    <input id="file" class="file-path validate" type="text">
                  </div>
                </div>
              </div>
            </div>
          

                <div class="row">
                  <div class="input-field col s6">
                    <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="firstName">
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" name="lastName">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="dob" type="date" class="validate" placeholder="Date Of Birth" name="dateOfBirth">
                    <label for="dob">Date Of Birth:</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="Registration" type="number" class="validate" name="registrationNumber">
                    <label for="Registration">Registration Number:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="qualification" type="text" class="validate" placeholder="Qualification"
                      name="qualifications">
                    <label for="qualification">Qualifications</label>
                  </div>
                </div>
                <div class="row">
                  
                  <select id="clinicSelect"  class="browser-default" name="clinic" >
                    <option  disabled selected>Please select clinic</option>
              
                  </select>
                   
               
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <input id="Language" type="text" class="validate" placeholder="Languages" name="languages">
                    <label for="Languages">Languages:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="abn" type="text" class="validate" placeholder="ABN" name="abn">
                    <label for="abn">ABN:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="contact" type="number" class="validate" placeholder="phone number" name="phoneNumber">
                    <label for="contact">Contact Details:</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <input id="address" type="text" class="validate" placeholder="Street, Suburb" name="address">
                    <label for="address">Address:</label>
                  </div>

          
                    <div class="input-field col s6">
                      <input id="address" type="text" class="validate" placeholder="State" name="state">
                      <!-- <label for="address">Contact Details:</label> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col offset-s4 s4">
                      <input id="pinCode" type="number" class="validate" placeholder="Pin Code" name="zibCode">
                      <label for="pinCode">Pin Code:</label>
                    </div>
                  </div>
                
                <button class="btn waves-effect waves-light col offset-s4" type="submit" name="action">Submit
                </button>
            </form>
          </div>




  <script>
$.ajax({
  url: "http://localhost:3000/api/clinicsName",
  type: "GET",
  success: function(data) {
    // Get the select element
    var select = $("#clinicSelect");

    // Loop through the data and create options
    $.each(data, function(index, clinic) {
      var option = $("<option></option>").text(clinic.ClinicName).val(clinic.ClinicName);
      select.append(option);
    });
  }
});
  </script>
  <script src="../../public/js/doctor/doctor.js"></script>