html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

body{
    font-family: 'Times New Roman', Times, serif !important;
  }
.alert {
	
			font-weight: bold;
			font-size: 1.1em;
			margin-right:4px;
            width: 600px !important;
            display: flex;
            justify-content: space-between;
	
}
.danger{
    background-color: #c62828

}
.success{
   background-color: #1b5e20;
}
.info{
    background-color: #039be5;
}
.btn-floating:hover{
    background-color: #e53935
 
}
.message_text{
    font-size: medium;
    font-weight: bold;
    font-style: oblique;

}
.is-invalid{
    color: #c62828 !important ;

}
.material-icons {
    color: #004d40 ;
}

.userTable{
    margin-top: 100px;
    color: white !important;
    padding-left: 10px !important;
}
.userTable > table{
    padding: 10px !important;
    font-size: large;

}
.btn_check{
    background-color:#1b5e20 !important;
    margin-right: 5px;
}
.btn_check{
    background-color:#1b5e20 !important;
    margin-right: 5px;
}
.btn_delete{
    background-color: #c62828 !important;
}
.btn_undo{
    background-color: rgb(166, 166, 22) !important;
    margin-right: 5px;
    margin-left: 5px;
}
.userTable{
    width: auto;
    margin: 20px auto;
    padding: 5px;
}
.userList >td{
    width: auto;
    padding: 10px;
    text-align: center !important;
}
.userList > tr:hover{
    color: black !important;
    font-weight: bolder;
    font-size: x-large;
}
.userList> th{
    padding: 1rem !important;
    text-align: center !important;
}
.notFound{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout{
    display: flex !important;
    justify-content: center;
  
}

.logout_text{
    margin-top: 20px;
    font-size: large !important;
    text-transform: capitalize ;
}