
<main class="login">
    <div class="container_login">

<div class="row">
   <div class="col s12 m6">

  <%- include('../partials/messages');%> 
    <div class="card login_card large grey lighten-4 black-text " id="signUp">
      <div class="card-content center card_header" >
        <span class="card-title center " >
          Login
        </span>
      </div>
      <div class="card-content card_body" >
       
        <form action="/user/login" autocomplete="off" method="POST" >
          <div class="row" >
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input name="username" id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
      
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">locker</i>
              <input  autocomplete="new-password" id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <p>
            <label class="remember_me" for="rememberme">
              <input  type="checkbox" id="rememberme" name="remember" value="1" />
              <span >Remember me </span>
            </label>
          </p>
          
          <div class="form-group">
            <button type="submit" class="waves-effect waves-light btn-block green darken-4   btn btn_login"><i class="material-icons login left">login</i>Login </button>
          </div> <!-- form-group// -->
        
          <p class="divider-text">
            <span class="grey lighten-4">You don't have an account already?</span>
          </p>
          <p class="text-center">
            <a class="btn btn-block grey darken-4" href="/newUser">
              Register</a>
          </p>
        </form>
      </div>
    </div>
   </div>
  </div>

    </div>
  </main>