<main>
    <div class="container">
      <div class="row valign-wrapper" style="height: calc(100vh - 64px);">
        <div class="col s12 center-align">
          <h2 class="red-text">404 Error</h2>
          <h5 class="grey-text">The page you requested could not be found.</h5>
          <a class="btn-large waves-effect waves-light green darken-4" href="/">Go Back Home</a>
        </div>
      </div>
    </div>
  </main>