<div class="resetPassword">
     <!-- Start container -->
 <div class="container">
    <!-- Start card -->
    <div class="card">
      <!-- Start card content -->
      <div class="card-content">
        <!-- Start password reset form -->
        <form>
          <!-- Start email input -->
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" id="email" required>
            <label for="email">Email</label>
          </div>
          <!-- End email input -->
          <!-- Start submit button -->
          <button class="btn waves-effect waves-light" type="submit">Reset Password</button>
          <!-- End submit button -->
        </form>
        <!-- End password reset form -->
      </div>
      <!-- End card content -->
    </div>
    <!-- End card -->
  </div>
  <!-- End container -->
</div>