 #clinic{
    width: 50%;
    display: inline-block;

}
#btn{
    float: right;
}
.uploadImage{
    margin-top: 15px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
}