<%- include('../partials/messages');%>

    <form action="/clinic/registration" method="post"">
        <div class="container">
            <h1>Register Your Clinic</h1>
            <p>Please fill in this form to create an account.</p>
            
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <p><label for="Cimage"><b>Clinic image</b></label></p>
                    
                        <input type="file" name="Cimage" accept="image/png, image/jpeg">
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Name"><b>Clinic Name</b></label>
                        <input type="text" placeholder="Clinic Name" name="Cname" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="Number"><b>Registeration Number</b></label>
                        <input type="number" placeholder="Registeration Number" name="Rnumber" required>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="ABN"><b>ABN</b></label>
                        <input type="text" placeholder="ABN Number" name="ABN" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="Phone"><b>Phone Number</b></label>
                        <input type="number" placeholder="Phone Number" name="Phone" required>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="row ">
                    <div class="input-field col offset-s3 s6">
                        <label for="Date"><b>Start date</b></label>
                        <input type="date" placeholder="Date" name="Date" required>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Address"><b>Address</b></label>
                        <input type="text" placeholder="Your Address" name="Address" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="Code"><b>Zip Code</b></label>
                        <input type="number" placeholder="Your Postal Code" name="Code">
                    </div>
                </div>
            </div>
            <div class="input-field col s6">
                <p> <label for="textarea">Clinic Services</label></p>
                <textarea id="textarea" class="materialize-textarea" data-length="1000" name="textarea"></textarea>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit </button>
        </div>
     </form>
    

  