

 .login {
  color: white !important;
}
.remember_me{
  margin: 10px auto !important;
  padding: 10px auto !important;
color: rgba(6, 6, 6, 0.503) !important;
font-weight: bolder;
}
.btn_login{
  margin: 20px auto;
  padding: 10px auto;
}
#signUp .divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#signUp .divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  font-size: medium;
  z-index: 2;
}
#signUp .divider-text:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #212121 ;
  top: 55%;
  left: 0;
  z-index: 1;
}


.row{
  flex: 1;
}
.registration_card, .login_card{
  width: 600px !important;
 
}
.registration_card{
  height: 720px !important;
}
.card_header{
  padding-bottom: 0 !important; margin-bottom: 0 !important; 
}
.card_body{
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.card-title{
 margin: 0 !important;
 padding: 0 !important;
}
.resetPassword,.middle{
  width: 60% !important;
  margin: 150px auto !important;
  padding: 20px !important;
}
.login_card{
  height: auto !important;
}
.link{
  padding: 10px;
  margin: 5px;
}
.resetpassword{
  color: darkgreen;
  text-decoration: underline;
}
.resetpassword:hover{
  color: rgb(6, 180, 6);
  text-decoration: none;
}
.c_white{
  color: white !important
}