<%- include('../partials/userHeader');%> 
 <%- include('../partials/messages');%>

<div class="booking">
    <div class="book_appointment">
<div class="booking_title">
    <h5>Booking appointment</h5>
</div>
<div class="booking_days">
<div class="book_days">
    <div class="book_day">
        <p>Today</p>
        <p>9 Feb</p>
    </div>
    <div class="book_day">
        <p>Friday</p>
        <p>10 Feb</p>
    </div>
    <div class="book_day">
        <p>Monday</p>
        <p>13 Feb</p>
    </div>
    <div class="book_day">
        <p>Tuesday</p>
        <p>14 Feb</p>
    </div>
</div>
    <div class="book_btn">
        <a class=" btn-floating btn-medim waves-effect waves-light green lighter-1"><i class="material-icons large " style="color:white;">keyboard_tab</i></a>
    </div>
</div>

    </div>
    <div class="container" style="margin:20px 40px; width: 100%;">
    <div class="booking_details">
        <div id="clinic_info" class="clinic_info">

 
       </div>
        <div id="doctor_info" class="doctor_info">
       
        </div>
       
        <div class="appointment">
            <div class="row">
                <div class="col s12 12">
                    <table class="striped highlight centered">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#">2:30 pm</a></td>
                            
                            <td><a href="#">2:30 pm</a></td>
                            <td><a href="#">2:30 pm</a></td>
                            <td><a href="#">2:30 pm</a></td>
                            <td> 2:30 pm</td>
                          </tr>
                          <tr>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                          </tr>
                          <tr>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                          </tr>
                          <tr>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                          </tr>
                          <tr>
                            <td>4:30 pm</td>
                            <td>4:30 pm</td>
                            <td>4:30 pm></td>
                            <td>4:30 pm</td>
                            <td>4:30 pm</td>
                          </tr>
                       
                     
                        </tbody>
                      </table>
                      
              </div>
              <div class="row">
                <div class="col s12 12">
                    <table class="striped highlight centered">
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><a href="#">2:30 pm</a></td>
                            
                            <td><a href="#">2:30 pm</a></td>
                            <td><a href="#">2:30 pm</a></td>
                            <td><a href="#">2:30 pm</a></td>
                            <td> 2:30 pm</td>
                          </tr>
                          <tr>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                            <td>3:00 pm</td>
                          </tr>
                          <tr>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                            <td>3:30 pm</td>
                          </tr>
                          <tr>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                            <td>4:00 pm</td>
                          </tr>
                          <tr>
                            <td>4:30 pm</td>
                            <td>4:30 pm</td>
                            <td>4:30 pm></td>
                            <td>4:30 pm</td>
                            <td>4:30 pm</td>
                          </tr>
                       
                     
                        </tbody>
                      </table>
                      
              </div>
        </div>
        <div class="row">
            <div class="col s12 12">
                <table class="striped highlight centered">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#">2:30 pm</a></td>
                        
                        <td><a href="#">2:30 pm</a></td>
                        <td><a href="#">2:30 pm</a></td>
                        <td><a href="#">2:30 pm</a></td>
                        <td> 2:30 pm</td>
                      </tr>
                      <tr>
                        <td>3:00 pm</td>
                        <td>3:00 pm</td>
                        <td>3:00 pm</td>
                        <td>3:00 pm</td>
                        <td>3:00 pm</td>
                      </tr>
                      <tr>
                        <td>3:30 pm</td>
                        <td>3:30 pm</td>
                        <td>3:30 pm</td>
                        <td>3:30 pm</td>
                        <td>3:30 pm</td>
                      </tr>
                      <tr>
                        <td>4:00 pm</td>
                        <td>4:00 pm</td>
                        <td>4:00 pm</td>
                        <td>4:00 pm</td>
                        <td>4:00 pm</td>
                      </tr>
                      <tr>
                        <td>4:30 pm</td>
                        <td>4:30 pm</td>
                        <td>4:30 pm></td>
                        <td>4:30 pm</td>
                        <td>4:30 pm</td>
                      </tr>
                   
                 
                    </tbody>
                  </table>
                  
          </div>
    </div>
        </div>
    </div>
    </div>
    </div>
</div>
<script>
    var clinicName
$.ajax({
  url: "http://localhost:3000/api/clinics",
  type: "GET",
  success: function(data) {
    clinicName = data[0].ClinicName
    console.log(clinicName)
    // Get the select element
    var clinic_info = $("#clinic_info");

    // Loop through the data and create options
    $.each(data, function(index, clinic) {
      var clinic_d = `<div class="row" >
                <div class="col s12 m12">
                  <div class="card grey lighten-2 ">
                    <div class="card-content grey-darken-4-text clinic_info">
                    <div class="clinic_details">
            <div class="clinic_img ">
            <img  style="width: 110px;" src="../../public/data/uploads/clinic/${clinic.clinicId}.jpg" alt="name">
            </div>
            <div  class="C_details">
                <a onClick="loadDoctor('${clinic.ClinicName}')" href="#"><p>${clinic.ClinicName}</p></a>
                <p>${clinic.Phone}</p>
                <p>${clinic.RegisterNumber}</p>
            </div>
                    </div>
                    <div class="clinic_address">
            <p>${clinic.Address}</p>
                    </div>
                  </div>
                </div>
              </div>
       
       </div>`
      clinic_info.append(clinic_d);
    });
    loadDoctor(clinicName)
  }
  
});
function loadDoctor(clinicName){
  
$.ajax({
   
url:`http://localhost:3000/api/doctors/${clinicName}`,
type: "GET",
success: function(data){
    var doctor_info = $("#doctor_info")
    
    doctor_info.empty();
    $.each(data, function(index,doctor){
        var doctor_d = `<div class="row">
                <div class="col s12 m12">
                    <div class="doctor_info">
                    <div class="doctor_details">
            <div class="doctor_img">
            <img class="circle" style="width: 90px; hight: 90px;" src="../../public/data/uploads/doctor/${doctor.doctorId}.jpg" alt="name">
            </div>
            <div class="D_details">
                <a href="#"><p>${doctor.firstName}  ${doctor.lastName}</p></a>
                <p>${doctor.registrationNumber}</p>
                <p>${doctor.qualifications}</p>
                <p>${doctor.clinic}</p> 
                <p>${doctor.languages }</p> 
                </div>
                    </div>
         
                  </div>
            
               
              </div>
        </div>`
      
doctor_info.append(doctor_d)
    });
}
});
}

</script>


