<%- include('../partials/userHeader');%>
  <%- include('../partials/messages');%>
    <div class="container initial">
      <h1 id="food">Here is your food</h1>

<link rel="stylesheet" href="../../public/css/patient/food.css"/>
<script src="../../public/js/patient/food.js"></script>