<%- include('../partials/userHeader');%>
  <%- include('../partials/messages');%>
    <div class="container initial">
      <h1 id="food">Here is your food</h1>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-food" class="border-shadow">
                    <span class="text-gradient">New Food Release. Check out it <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Recipe Name</th>
                            <th>Calories</th>
                            <th>Daily Value</th>
                            <th>Ingredients</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </main>
<!-- /Main Site -->


<link rel="stylesheet" href="../../public/css/patient/food.css"/>
<script src="../../public/js/patient/food.js"></script>