<%- include('../partials/userHeader');%>
    <%- include('../partials/messages');%>
       <div class="recipe">
        <div class="container initial ">
            <h1 id="food">Plan food for your health</h1>
        </div>
  
            <table>
                <tr>
                    <td>
                        <form autocomplete="off" onsubmit="onFormSubmit()">
                            <div>
                                <label for="recipesName">Recipes Name</label>
                                <input type="text" name="recipesName" id="recipesName">
                            </div>
                            <div>
                                <label for="ingredients">Ingredients</label>
                                <input type="text" name="ingredients" id="ingredients">
                            </div>
                            <div>
                                <label for="calories">Calories</label>
                                <input type="number" name="calories" id="calories">
                            </div>
                            <div>
                                <label for="dailyValue">Daily Value</label>
                                <input type="number" name="dailyValue" id="dailyValue">
                            </div>
        
                            <div class="form_action--button">
                                <input type="submit" value="Submit">
                                <input type="reset" value="Reset">
                            </div>
                        </form>
        
                        <td>
                            <table class="list" id="storeList">
                                <thead>
                                    <tr>
                                        <th>Recipes Name</th>
                                        <th>Ingredients</th>
                                        <th>Calories</th>
                                        <th>Daily Value</th>
                                    </tr>
                                </thead>
                                <tbody>
        
                                </tbody>
                            </table>
                        </td>
                    </td>
                </tr>
            </table>
            
                <script src="../../public/js/patient/food.js"></script>
           

       </div>