<%- include('../partials/userHeader');%> 
 <%- include('../partials/messages');%>

<div class="recipes" >
    <h1 id="recipes">Recipes page</h1>
</div>

<script src="../../public/js/patient/recipes.js"></script>