.patient-card {
  width: 50%;
  /* float: left; */
  display: inline-block;
  word-wrap: normal;
}
.signout {
  padding-right: 2%;
  float: right;
}

#doctorList {
  color: black;
  background-color: #42f5ce;
}
